
/* #region Intro */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* Ta bort nedan om det inte gör ngt */
body{
  width: 100%;
}

header{
  
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  width:100%;
  top:0;
  padding: 2;
  transition:250ms;
  z-index:10;  
  background-color:whitesmoke;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

header h4{

    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

#MainLogo
{
  color:black;
}

#MainLogo:hover
{
  color:#616466;
  font-size: 20px; 
}
/* #endregion*/


/*#region Nav*/


#bokaText{
    color:darkgreen;
  }
  #bokaText:hover{
    color:lightgreen;
  }


  .nav-links{

    position:absolute;
    right:0;
    top: 5vh;
    width: 40%;
    height:60vh;
    background: whitesmoke;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation:menu_animation 500ms
    ease-in-out;
  }
  
  
  .show-navlinks{
    display: flex;
  }
  
  
  @keyframes menu_animation{
  
    from{
  
      opacity:0;
      tranform:translateX(100%);
  
    }
  
    to{
      opacity:1;
      tranform:translateX(0%);
    }
  
  }
  
  
  .logoNav{
  
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
  
    /*  */
  
    color:var(rgb(219, 210, 210));
    transition: 250ms;
  }
  
  header ul li{
  
    list-style:none;
    margin:20px 0;
  
  }
  
  header ul li a{
  
    text-decoration: none;
    padding:10px 30px;
    font-size:1rem;
    color:var(--grey);
    transition: 250ms; 
  }
  
  header ul li a:hover{
  
    color:var(--blue-dark);
  
  }
  
  
  
  .hamburger-on{
      background: url('../assets/hamburger.svg');
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;  
      cursor:pointer;
      transition:250ms ease-in-out;
      
  }
  
  
  .hamburger-off{
  
    padding:9px;
    background:url('../assets/xsolid.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width: 25px;
    height: 25px;
    cursor:pointer;
    transition:250ms ease-in-out;
    
  }
  
  
  
  
  
  
  
  /* För större skärm */
  
  @media screen and (min-width:1000px){
  
    .nav-links{
  
      display:flex;
      flex-direction: row;
      position:unset;
      width: auto;
      height: auto;
      background: none;
  
    }
  
    header ul{
  
      display:flex;
  
    }
  
    header ul li{
  
      margin:0;
  
    }
  
    header ul li a{
  
      padding:0;
      margin:5px 20px;
      font-size:22px;
  
    }
  
    .hamburger-on{
      display:none;
    }
  
    .logoNav{
      font-size:23px;
    }
  
  
    /* Mobilainställningar ;) */
  
  
  
  }
  
  

/*#endregion  */


/* #region css utförs i sekvens med start från topp. DETTA ÄR HUVUDINNEHÅLL FÖR BEHANDLINGSSIDANS CSS*/
#behandlingsRubrik
{
  margin-left: 5%;
  padding-top: 20px;
}

.container1 {
  position: relative;
  width: 100%;
}

.container1 #behandlingsRubrik
  {
    position: absolute;
    top: 85%;
  }


  #hairPic {
    width: 100vw;;
    height: 50vh;
    object-fit: cover;
  }
  
  

#behandlingMainInfo
{

  margin-top: 2%;
  margin-left: 0%;
  width: 100%;
  height: fit-content;
  border: solid 1px;
}

#miniRubrik{
  font-size: 22px;
  margin-bottom: 0%;
}

#miniRubrik2
{
  font-size: 18px;
}

#miniRubrik5{
  font-size: 18px;
  margin-bottom: 2%;
}

#textDiv{
   font-size: 14px;
}


@media (min-width: 769px) {
  #textDiv {
    font-size: 18px;

  }
}


/* MobileDevice mode below */

@media (max-width: 800px) {

  #hairPic {
    width: 100vw;;
    height: 100%;
    margin-left: 0%;
  }


  #behandlingsRubrik
  {
    margin-top: 0%;
    margin-left: 5%;
  }

  .container1{  
    margin-left: 0%;
  }

  .container1 #behandlingsRubrik
  {
    position: absolute;
    top: 80%;
    left: 1%;
  
  }

  #miniRubrik{
    font-size: 22px;
  }

  .nav-links
  {

    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;

  }

}



/* #region BlurAnimation för behandlingar samt  fortsättning textinnehåll */


.container
{
    width: 100%;
}


#infoCard
{
  margin-top: 10%;  
  height: fit-content;
  color: #616466;
  text-align: center;
  margin-left: 5%;
}


#infocardBooka
{
  
    /*Button design på infocard*/
  background-color: #cfcfcf;
  border-radius: 100px;
  box-shadow: rgba(118, 118, 118, 0.2) 0 -25px 18px -14px inset,
    rgba(132, 132, 132, 0.15) 0 1px 2px,
    rgba(110, 110, 110, 0.15) 0 2px 4px,
    rgba(118, 119, 119, 0.15) 0 4px 8px,
    rgba(133, 134, 134, 0.15) 0 8px 16px,
    rgba(146, 146, 146, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-decoration: none;
  transition: all 250ms;
  border:0;
  font-size: 12px; /* adjust as needed */
}
#infocardBooka:hover
{

  background-color: rgb(60, 224, 60);

}





#blueText
{
  color:#000000;
}

#shortAbout
{
    margin-left: 0%;
} 






#shortSection
{
    margin-top: 2%;
    width: 100%;
    
}

#shortTextAbout {
  width: 100%;
  top: 10px;
  animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* #endregion */



/* #region Informationsbilder funnnyimage från lifetime */


.row {
  width: 100%;
  padding-bottom: 50px;
}

.funnyImage {
  width: 20%;
  height: auto;
}

.funnyImageTextDiv {
  margin-top: 10%;
  text-align: center;
}

#konsultationstext {
  margin-left: 2%;
}

.funnyimageText {
  font-size: 14px;
}

/* Media query for big screens */
@media only screen and (min-width: 1200px) {
  .funnyImage {
    width: 10%; /* Adjust the width to your desired size for big screens */
  }
}



#avbokningsBtn
{
  background-color: #616466;
  font-size: 15px;
  margin-left: 0%;

}
#avbokaBtnText
{
  font-size: 12px;
  margin-left: 0%;
}






.accordion{
  padding-bottom: 50px;
  width: 70%;
  margin-left: 17%;
}




.accordion-button:not(.collapsed){
  color:inherit;
  background: #616466;
  color: aliceblue;
  text-decoration: none;
}




#bokaSneaky
{
  text-decoration: none;
}

#bokaSneaky:hover{

  font-size: large;
  color: blue;

}


footer{ 
  margin-top: 0%;
  width:100%;

}



/* #endregion */

