
:root{

  --grey:rgb(36, 30, 30);
  --blue-dark:rgb(29, 132, 55);

}

/* #region Intro */
*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}


body{
  width: 100%;
}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  width:100%;
  top:0;
  padding: 2;
  transition:250ms;
  z-index:10;  
  background-color:whitesmoke;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}
header h4{

    position: absolute;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* Splash screen */

.intro{

    /* z-index är 1 mer än header(se ovan). Introt överlappar alltså menyn och menyn (header) överlappar allt innehåll i sidan som bilder osv.. */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#616466, rgb(252, 252, 252));
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack the content vertically */

}

.logo-header{

    position: relative;
    color: #ffff;
    font-size: 70px;
    display: flex;
    flex-direction: column; /* Stack the words vertically */
    align-items: center; /* Center the words horizontally */
}

.logo{

    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
}

.logo.active{
    bottom: -20px; /* Adjust the positioning */
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{

    bottom: 30px; /* Adjust the positioning */
    opacity: 0;
    transition: ease-in-out 0.5s;

}
/* #endregion*/


/*#region Nav*/


.nav-links{
  position:absolute;
  right:0;
  top: 5vh;
  width: 45%;
  height:60vh;
  background: whitesmoke;
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation:menu_animation 500ms
  ease-in-out;
}


.show-navlinks{

  display: flex;

}


@keyframes menu_animation{
  from{
    opacity:0;
    transform:translateX(100%);
  }
  to{
    opacity:1;
    transform:translateX(0%);
  }
}


.logoNav{


  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;

  color:var(rgb(219, 210, 210));
  transition: 250ms;
}

header ul li{

  
  list-style:none;
  margin:20px 0;

}

header ul li a{

  text-decoration: none;
  padding:10px 30px;
  font-size:1rem;
  color:var(--grey);
  transition: 250ms; 
}

header ul li a:hover{

  color:var(--blue-dark);

}



.hamburger-on{
    background: url('../assets/hamburger.svg');
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    cursor:pointer;
    transition:250ms ease-in-out;
    
}


.hamburger-off{

  padding:9px;
  background:url('../assets/xsolid.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  width: 30px;
  height: 30px;
  cursor:pointer;
  transition:250ms ease-in-out;
  
}







/* För större skärm */

@media screen and (min-width:1000px){

  .nav-links{

    display:flex;
    flex-direction: row;
    position:unset;
    width: auto;
    height: auto;
    background: none;

  }

  header ul{

    display:flex;

  }

  header ul li{

    margin:0;

  }

  header ul li a{

    padding:0;
    margin:5px 20px;
    font-size:22px;

  }

  .hamburger-on{
    display:none;
  }

  .logoNav{
    font-size:20px;
  }
}


/* #endregion */



/* #region LinkBar */



#linkBar{
  margin-top: 0%;
}

#flags{
  align-items: center;
  text-align: end;
}

i{
  color: black;
}

#links{
  color: rgba(2, 3, 2, 0.781);
  text-align: start;
  align-items: center;
}

#btnFlag{
  border: none;
  background-color: white;
}

@media screen and (min-width: 768px) {
  #linkBar {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  #linkBar {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  #linkBar{
    font-size: 22px;
  }
}


/* #endregion */


/*#region Container Hemsidans första bild*/

#carouselExampleInterval {
  margin-top: 0%;
  width: 100%;
}

#carouselExampleInterval img {
  height: 60%; /* adjust the height as desired */
  width: 100%;
  object-fit: cover; /* to ensure the image fills the container */
}

.Liseberg
{
  position: relative;
  margin-top:4%;
  width: 100%;
  height: auto;
}


/* Media query for bigger screens */
@media only screen and (min-width: 1200px) {
 
  #carouselExampleInterval img {
    height: 70vh; /* adjust the height as desired */
    width: 100%;
  }
    .Liseberg
  {
    margin-top:3%;
  }
}


@media screen and (max-width: 768px) {
  #carouselExampleInterval img {
    height: 70vh; /* adjust the height as desired */
    width: 100%;
  }
  .Liseberg
  {
    margin-top:3%;
  }

}








.text-div {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  z-index: 1;
}

.introBtn {
  background-color: rgba(207, 207, 207, 0.5);
  border-radius: 100px;
  box-shadow: rgba(118, 118, 118, 0.2) 0 -25px 18px -14px inset,
    rgba(132, 132, 132, 0.15) 0 1px 2px,
    rgba(110, 110, 110, 0.15) 0 2px 4px,
    rgba(118, 119, 119, 0.15) 0 4px 8px,
    rgba(133, 134, 134, 0.15) 0 8px 16px,
    rgba(146, 146, 146, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 12px;
  margin-left: 1;
  margin-top: 1%;
}

.introBtn:hover
{
  font-size: 14px;
}

@media (min-width: 800px) {
  .introBtn {
    font-size: 16px;
    padding: 10px 30px;
  }
}

@media (max-width: 600px) {
  .introBtn {
    font-size: 14px;
    padding: 5px 15px;
  }
  .introBtnBox{
    padding-bottom: 10%;
  }
  .text-div{
    top: 80%;
  }
}

#introBtnBox
{
  margin-top:3%;
}



@media (max-width: 1000px) {

    /* 3D EFFECT på hamburgarmenyn*/
  .nav-links
  {

    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
  
  }
}
  /* #endregion */

  /* #region beatuylawBox */


  .beautylawBox
  {
    margin-top: 5%;
    margin-left: 5%;
    padding-top: 20px;
    height: fit-content;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    .beautylawBox {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .beautylawBox {
      font-size: 22px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .beautylawBox {
      font-size: 22px;
    } 
  }








  /* #endregion */



  /* #region benhandlingar */




.container
{

  margin-top: 3%;

} 


.rubrikbehandling
{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color:#616466;

}


  .row{

    width: 100%;
  }




@media (max-width: 800px) 
{
  #behandlingsrowOne
  {
    margin-left: 1%;

  } 
  #behandlingsrowTwo
  {
    margin-left: 1%;

  } 
  }




  .behandlingsvarde{
    font-size:22px;

  }

  .behandlingsvarde:hover{

    color:green;
    font-size:21px;
    transition: ease-in-out 0.5s;
    cursor:pointer;
    
  }


  /* #endregion */

  /*#region ID */


  #behandlingsvarde{

    margin-top: -5%;
  }

  #behandlingsvalue{
    margin-top: 3%;
  }

  #bokaText{
    color:darkgreen;
  }
  #bokaText:hover{
    color:lightgreen;
  }
  /* Huvudlogga uppe vänster */
  #MainLogo
  {
    font-size: 25px;
    color:black;
  }

  #MainLogo:hover
  {
    color:#616466;
  }


  /* Clinic på intro */
  /* #logoCText{
  } */
 
  #behandlingarRubrik
  {
    margin-top: 5%;
    text-align: center;
    color:#616466;
    margin-bottom: 5%;
  }

  .col-md-4 {
    margin-bottom: 50px; /* Adjust the margin as per your preference */
  }

  @media (max-width: 767px) {
    .col-md-4 {
      margin-bottom: 50px; /* Adjust the margin as per your preference */
    }
    #behandlingarRubrik{
      margin-bottom: 10%;
    }
  }




  #beautylawBoxRubrik
  {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    
  }

  #rubrikbeautyLaw{

    font-weight:bolder;
    color:#616466
  
  }

  @media (max-width: 800px)  {

    #rubrikbeautyLaw {
      font-size: 20px;
    }
  }
 



  @media screen and (min-width: 768px) {
    #rubrikbeautyLaw {
      font-size: 24px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    #rubrikbeautyLaw {
      font-size: 28px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    #rubrikbeautyLaw {
      font-size: 32px;
    }
  }

  #footerDiv
  {
    margin-top: 0%;

  }


  #certPic{

    margin-top: 5%;
    height: 20%;
    width: 25%;
  }

  #folksamPic{
    height: 50%;
    width: 50%;

  }

  #juvePic{
    height: 50%;
    width: 50%;
  }

  


  #Info-Bot{
    width: 100%;
    margin: 0 auto;
    
  }

  #gogomaps {
    
    width: 100%;
    height: 250px;
  }
  
  @media screen and (min-width: 768px) {
    #gogomaps {
      width: 100%;
      height: 400px;
      margin: 0 auto;

    }
  }
  
  @media screen and (min-width: 1200px) {
    #gogomaps {
      width: 100%;
      height: 500px;
      margin: 0 auto;

    }
  }
  




  .list-group{font-size: 20px;}
 



  @media (max-width: 600px) {


    #certPic{

      margin-top: 5%;
      height:100%;
      width: 100%;
    }
  
    #folksamPic{
      height: 100%;
      width: 100%;
  
    }
  
    #juvePic{
      height: 100%;
      width: 100%;
    }



    #Info-Bot
    {
      margin-left: 3%;
    }


  }


  /* #endregion */



/* #region MonthlyOffer */


.image-container {
  width: 100%;
  height: auto;
  margin: 0 auto; /* centers the container horizontally */
  margin-bottom: 10%;
  text-align: center;

}

img {
  width: 100%;
  height: auto;
}


/* #endregion */


/* #region Footer */


#almostDone{

  width:100%;

  height:200px;

  
  border-top:solid 1px black;


}



footer{ 
  margin-top: 5%;
  width:100%;

}


/* #endregion */

/* CSS specifikt för behandlingar */


